@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cause;
}

body {
  background-color: pink;
  background-image: url(images/background.png);
  background-blend-mode: difference;
  background-size: cover;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: normal;
  }

  .settings {
    width: 95% !important;
  }

}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}



#title {
  font-size: xx-large;
  font-weight: bolder;
}

.btns {
  flex-direction: row;
  display: flex;
  gap: 1em;
}

.btns button {
  padding: 10px;
  background-color: white;
  border-radius: 1em;
  font-size: 1.5em;
  border: none;
}

.btns button:hover {
  background: grey;
  cursor: pointer;
}

.btns button:active {
  background: darkslategray;
}

.todos {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}

#timer {
  font-size: 5em;
  font-weight: bolder;
}

ul {
  list-style: none;
}

ul li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin-top: 1em;
  overflow-wrap: break-word;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  /* https://codeshack.io/css-clip-path-generator/ */
}

ul li:hover {
  cursor: pointer;
  text-decoration: line-through;
  color: lightslategray;
  background-color: antiquewhite;
}


.drop-shadow {
  filter: drop-shadow(5px 10px 0px black);
}

.close {
  display: inline-block;
  position: absolute;
  right: 10px;
  font-size: 1.5em;
  bottom: 6.5px;
}

ul li.checked {
  color: slategrey;
  text-decoration: line-through;
}

ul li:not(.checked)::before {
  background-image: url(images/pokeball.png);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 7.5px;
  margin-left: 5px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  content: "";
  background-size: 30px 30px;
}

ul li.checked::before {
  display: inline-block;
  content: '✓';
  background-image: none;
  margin-right: 5px;
  color: green;
}


.checked:hover {
  color: slategray !important;
  cursor: default !important;
  cursor: pointer !important;
  opacity: 100% !important;
}

.settings {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  height: 50%;
  width: 20%;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.slider-container input {
  width: 50%;
}


.checked span:hover {
  color: darkred;
  cursor: pointer;
}

.close:hover {
  color: darkred;
}

form {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.submit input {
  border-radius: 20px;
  height: 2.5rem;
  font-size: 1em;
  border: none;
  padding: 1em;
  flex: 25;
}

.submit button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  font-size: 1.5em;
  background-color: white;
  border: none;
}

.submit button:hover {
  background-color: darkgray;
  cursor: pointer;
}

.todos p {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-decoration: underline 5px;
  background: white;
  padding: 5px;
  border-radius: 1em;
}

#pokemon {
  width: 18em;
}

#notifier {
  font-size: 1.5em;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  padding: 5px;
}

::picker(select) {
  padding: 5px;
  border-radius: 5px;
}


.choose label {
  font-weight: bold;
  margin-right: 0.25em;
}

.todos {
  margin: 1em;
}

.ambience-buttons button {
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  margin-right: 0.25em;
}